main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-squares {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-style: solid;
    border-color: black;
    width: 600px;
    height: 600px;
}

.row {
    display: flex;
    flex: 1;
}

.column {
    flex: 1;
    border-style: solid;
    border-color: black;
}

.color-change {
    background-color: black;
}